
#HomeProducts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: 40px 20px 50px 20px;
}

.product{
    border: 1px solid black;
    position: relative;
    height: 280px;

}

.product:nth-child(4){
    height: 311px;
}
.product:nth-child(14){
    height: 311px;
}

.product:nth-child(15){
    height: 311px;
}

@media (max-width:990px){

}


@media (max-width:768px){
 
}
