
img{
    width: 150px;
    height: auto;
}

.main-image-div{
    display: flex;
    justify-content: center;
}

.main-image-div img{
    width: 350px;
    height: 300px;
}


.random-images{
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content:space-evenly;
}
